.page-title { font-size: 1.5rem; color: #000; padding-bottom: 5px; margin: 0; }

.header-line-separator {
    border: none; height: 3px; background-color: #000; width: 100%; margin: 0; }

.article-header h2 { font-size: 1.3rem; color: #d9534f; border-left: 5px solid #d9534f; padding-left: 10px; margin-bottom: 5px; }

.article-title-separator { border: none; border-top: 1px solid #eee; margin: 0 0 10px 0; }

.article-meta { display: flex; justify-content: space-between; align-items: center; font-size: 0.85rem; color: #666; padding-bottom: 10px; margin-bottom: 20px; }

.category-tag { background-color: #d9534f; color: white; padding: 4px 10px; border-radius: 3px; font-weight: bold; }

.article-body p { margin-bottom: 1em; }

.article-body strong { font-weight: bold; }

.category-tag important{ background-color: #ffc107; color: black; padding: 4px 10px; border-radius: 3px; font-weight: bold; }
